<!DOCTYPE html>
<html>
	<head>
		<title>LMS</title>
		<link rel="stylesheet" href="./assets/DashboardStyles.css">
	</head>
	<body>
		<nav>
			<ul class="navBar">
				<li class="navItems"><a class="navLinks" href="/home">Home</a></li>
				<li class="navItems"><a class="navLinks" href="/SignUp">Sign-up</a></li>
				<li class="navItems"><a class="navLinks" href="/Dashboard">Dashboard</a></li>
				<li class="navItems"><a class="navLinks" href="/TaskManager">Task Manager</a></li>
				<li class="navItems"><a class="navLinks" href="/CoursePage">Course Page</a></li>
				<li class="navItems"><a class="navLinks" href="/logout">Logout</a></li>
			</ul>
		</nav>
		<p class="UserDetails">First Name: <%=data.Fname%></p>
		<p class="UserDetails">Last Name: <%=data.Lname%></p>
		<p class="UserDetails">Email ID: <%=data.Email%></p>
		<p class="UserDetails">Phone Number: <%=data.Phone%></p>
		<p class="UserDetails">Username: <%=data.Username%></p>
	</body>
</html>